<div class="container-fluid">
    <div class="navbar row py-1" style="background-color: #3C5999;" >
            <div class="col-2 col-sm-3 col-md-2 text-right">
                <a class="text-white ml-1" style="font-size:20px" href="">Fotobook</a>
            </div>
            <div class="col-6 col-sm-6 col-md-6">
                <input class="rounded border-light w-75" name="search_bar" id="search_bar" type="text" placeholder="Search Photo / Album"></input>
            </div>
            <div class="col-4 row col-sm-3 col-md-4 pl-5 text-right pr-5"style="height:40px" >
              <div class="col-md-7 col-12">
                <a class="btn rounded-circle bg-white text-color border-0 px-2" href="my_profile.html"><%=current_user.last_name[0]%><%=current_user.first_name[0]%></a>
                <a class="btn border-0 text-white hidden-xs" href="#"><%=current_user.first_name%> </a>
              </div>
              <div class=" col-md-5 text-center hidden-xs justify-content-center">
                <%= link_to "Logout", destroy_user_session_path, {class: "nav-item nav-link btn border-0 text-white", method: "delete"}%>
              </div>
            </div>
        </div>
      <div class="row grey_background  px-3">
        <div class="col-2  mt-3 pt-4 align-items-center ">
          <div class="row col  ml-2">
            <a class="btn text-secondary font-size font-weight-bold" href="<%=admin_manage_photo_path(current_user.id)%>">Manage Photos</a>
          </div>
          <div class="row col ml-2">
            <a class="btn text-secondary font-size font-weight-bold" href="<%=admin_manage_album_path(current_user.id)%>">Manage Albums</a>
          </div>
          <div class="row col ml-2">
            <a class="btn font-size text-color font-weight-bold fb_color" href="<%=admin_manage_user_path(current_user.id)%>">Manage Users</a>
          </div>
        </div>
        <div class="col-9 p-3">
          <div class="col-12 row">
          <div class="col-12 bg-white pb-3 mb-5 row">

            <div class="font-weight-bold border-bottom py-4 col-12" style="font-size:20px">
                Edit User Profile
            </div>
            <%= form_for @u do |f| %>
            <div class="row col-12 justify-content-center">
              <div class="row col-8 justify-content-center">
                <div class="row col-12 justify-content-center">
                  <div class="col-8 d-flex justify-content-center">
                    <div class="row mt-5 mb-3 col-6 square_photo justify-content-center" name="profile-image">
                      <img src="photo/dilinh.jpeg" alt="profile-image" class="img-fluid square_photo rounded">
                      <div class="col-9 d-flex justify-content-center position-absolute" style="bottom:0">
                        <button type="button" name="change-profile" class="btn bg-white position-absolute text-secondary change_button">CHANGE</button>
                        <%= f.file_field :image, style:" opacity:0;width:93px;height:31px;"%>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pt-3 row text-color justify-content-center my-2 font-weight-bold">
                  <div class="col-8 fb_color d-flex justify-content-center">Basic Information</div>
                </div>
                <div class="col-12 pb-5">
                <div class="form-group mb-0 row col-12">
                  <label for="firstname" class="col text-right py-2">First Name</label>
                  <input type="text" name="firstname" class="form-control col-8" placeholder="First Name"/>
                </div>
                <div class="form-group mb-0 row col-12">
                  <label for="lastname" class="col-4 text-right py-2">Last Name</label>
                  <input type="text" name="lastname" class="form-control col-8" placeholder="Last Name"/>
                </div>
                <div class="form-group mb-0 row col-12">
                  <label for="email" class="col-4 text-right py-2">Email</label>
                  <input type="email" name="email" class="form-control col-8" placeholder="someone@example.com"/>
                </div>
                <div class="form-group mb-0 row col-12">
                  <label for="password" class="col-4 text-right py-2">Password</label>
                  <input type="password" name="password" class="form-control col-8" placeholder="Password"/>
                </div>
                <div class="form-group row col-12 text-center">
                  <label for="active" class="col-4 text-right mt-2">Active?</label>
                  <div class="d-flex justify-content-center mt-2">
                  <input type="checkbox" checked name="active"/>
                </div>
                </div>
                <div class="form-group row col d-flex justify-content-center">
                  <button type="button" name="save" class="btn add px-3 bg-success">Save</button>
                </div>
              </div>


              </div>
            </div>
            <%end%>


          </div>

          </div>

        </div>
      <div class="col-1">
      </div>
    </div>
    <script src="https://kit.fontawesome.com/3dc3c39fce.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "fotobook_style" %>
    <%= javascript_pack_tag 'script'%>
