<div class="container-fluid">
  <div class="navbar row py-1 fb_background" >
          <div class="col-2 col-sm-3 col-md-2 text-right">
              <a class="text-white ml-1 head_font" href="<%=admins_photos_path%>">Fotobook</a>
          </div>
          <div class="col-6 col-sm-6 col-md-6">
              <input class="rounded border-light w-75" name="search_bar" id="search_bar" type="text" placeholder="Search Photo / Album"></input>
          </div>
          <div class="col-4 row col-sm-3 col-md-4 pl-5 text-right pr-5 fb_navbar" >
            <div class="col-md-7 col-12">
              <a class="btn rounded-circle bg-white text-color border-0 px-2" href=<%= user_path(current_user.id)%>><%=User.find(current_user.id).last_name[0].upcase%><%=User.find(current_user.id).first_name[0].upcase%></a>
              <a class="btn border-0 text-white hidden-xs" href=<%= user_path(current_user.id)%>><%=User.find(current_user.id).first_name%> </a>
            </div>
            <div class=" col-md-5 text-center hidden-xs justify-content-center">
              <%= link_to "Logout", destroy_user_session_path, {class: "nav-item nav-link btn border-0 text-white", method: "delete"}%>
            </div>
          </div>
      </div>
      <div class="row grey_background  px-3">
        <div class="col-12 col-sm-2  mt-3 pt-4 align-items-center ">
          <div class="row col  ml-2">
            <a class="btn text-secondary font-size font-weight-bold" href="<%=admins_photos_path%>">Manage Photos</a>
          </div>
          <div class="row col ml-2">
            <a class="btn text-secondary font-size font-weight-bold" href="<%=admins_albums_path%>">Manage Albums</a>
          </div>
          <div class="row col ml-2">
            <a class="btn font-size text-color font-weight-bold fb_color" href="<%=admins_users_path%>">Manage Users</a>
          </div>
        </div>
        <div class="col-12 col-sm-9 p-3 mt-3">
          <div class="col-10  bg-white pb-5 mb-5 row ml-5" style="height:850px">
              <table class=" col-12 p-0 table table-borderless" >
                 <thead>
                 <tr>
                     <th class="border-bottom">First Name</th>
                     <th class="border-bottom">Last Name</th>
                     <th class="border-bottom">Email</th>
                     <th class="border-bottom">Last Login</th>
                     <th class="border-bottom"> </th>
                 </tr>
                 </thead>
                 <tbody>
                <%@users.each do |i|%>
                 <tr>
                     <td><a href="<%= user_path(i.id)%>" class="btn font-size text-dark pt-0"><b><%= i.first_name %></b></a></td>
                     <td><%=i.last_name%></td>
                     <td><%=i.email%></td>
                     <td><%=i.last_sign_in_at%></td>
                     <!-- <td><button type="button" class="btn add py-0 bg-success"><a >Edit</a></button> <button type="button" class="btn delete py-0 bg-danger">Delete</button></td> -->
                     <td><a class="btn bg-success py-0 text-white px-3 mb-2" href=" <%=edit_admins_user_path(id:i.id)%>">Edit</a><%= link_to "Delete", admins_user_path(id:i.id) , {data: { confirm: "Are you sure?" },class:"btn bg-danger text-white py-0 px-3 mb-2 ml-2", method: :delete} %>
<!-- <a class="btn bg-danger text-white py-0 px-3 mb-2 ml-2" href="manage_user_profile.html">Delete</a></td> -->
                 </tr>
                 <%end%>
                 </tbody>
             </table>


        </div>
        <div class="col-12 d-flex justify-content-center align-items-end">
          <%= paginate @users ,theme: 'twitter-bootstrap-3'%>
        </div>


      </div>
      <div class="col-1">
      </div>
    </div>
  
